.card-media {
  background-color: #999999;
}

.content-container {
  max-width: 800px;
}

.fab-back {
  position: fixed;
  top: 20 px;
  left: 20 px;
}

.margin-default {
  margin: 8px;
}

.screenshot-img {
  height: 30% !important;
  width: 30%;
}

.gap-from-banner {
  padding-top: 15%;
}

.card-header-text {
  padding: 8px;
}

.md-headline {
  font-size: 30px;
}

.game-background {
  background-image: url(../img/crayon_click_background.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  top: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.profile-image {
  margin-top: -50%;
}
