.card-media {
  background-color: #999999;
}

.content-container {
  max-width: 800px;
}

.gap-from-banner {
  padding-top: 15%;
}

.card-header-text {
  padding: 10px;
}

.md-headline {
  font-size: 30px;
}

.game-background {
  background-image: url(../img/background.png);
  background-position: center;
  height: 100%;
  width: 100%;
  top: 0;
  background-repeat: repeat;
  background-attachment: fixed;
}

.profile-image {
  margin-top: -50%;
}
