.page-background {
  background-position: center;
  height: 100%;
  width: 100%;
  top: 0;
  background-repeat: repeat;
  background-attachment: fixed;
}

#home-button.md-fab {
  background-color: white !important;
}


.content-container {
  max-width: 800px;
}

.header-image {
  max-width: 50%;
  height: auto;
  margin: 8%;
}

.md-button.download-button {
  margin: 5%;
}

img.download-button {
  max-width: 200px;
  height: auto;
  margin-bottom: 1%;
}

.full-expand {
  width: 100%;
}

footer i, .footer-icon {
  margin: 3%;
}

footer {
  background-color: #3F49CC;
  color: white;
}

.footer-copyright {
  background-color: #121b95;
  padding: 1%;
}

.footer-list {
  list-style-type: none;
}

footer a:link, footer a:visited, footer a:active {
  color: white;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

.thumbnail-image {
  max-width: 100px;
  height: auto;
  border: 2px solid #ffffff;
}

.thumbnail-link {
  margin: 1%;
}

.youtube-video {
  width: 100%;
  height: auto;
}

/* Screen Size dependeciees */

/* Less or equal to 500px */
@media (max-width:500px) {
  .vertical-line {
  }
}

/* Greater than 500px */
@media (min-width:501px) {
  .vertical-line {
    border-left: thin solid #ffffff;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 1%;
  }
}
