
.padding-logo {
    padding-top: 15%;
}

.text_h#slogan{
    padding: 0%;
    font-size: 3.0em;
}

#work {
    background-color: white;
}

.android-games-size {
  font-size: 2em;
}

.pull-down {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-bottom {
  margin-bottom: 0 !important;
}

.role-text {
  font-size: small;
}

.card-links {
  color: #2196F3 !important;
}

a.no-link:hover, a.no-link:active, a.no-link:focus,
a.no-link:hover, a.no-link:visited, a.no-link {
  text-decoration: none; color:black
}

.comming-soon-badge {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #2196F3;
  border-radius: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 6px;
  padding-left: 6px;
  color: white;
  font-size: 1.2em;
}
