body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.home-header {
  margin-left: 10%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.home-header-punch-line {
  margin: 0;
  padding: 0;
  font-size: 2.6em;
  color: gray;
}

.call-for-action {
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;

  padding-top: 2%;
  padding-bottom: 2%;

  text-align: center;
  text-decoration: none;

  min-width: 160px;

  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;

  margin-top: 2%;
}

.call-for-action:hover {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

section#stores {
  background-color: #18918a;
}


footer {
  background-color: #18918a;
}

.slogan {
  font-size: 2.0em;
}

footer > hr {
  border-color: black;
  border-style: solid;
  width: 95%;
}

.icons {
 padding-left: 2.5%;
 padding-right: 2.5%;
}

.icon {
  background-repeat: no-repeat;
  font-size: 0;
  width: 24px;
  height: 24px;
  margin: 0.5%;
}

.facebook-icon {
  background-image: url(/assets/img/icons/facebook-circle-black.png);
}
.facebook-icon:hover {
  background-image: url(/assets/img/icons/facebook-circle-standard.png);
}
.youtube-icon {
  background-image: url(/assets/img/icons/youtube-circle-black.png);
}
.youtube-icon:hover {
  background-image: url(/assets/img/icons/youtube-circle-standard.png);
}
.android-icon {
  background-image: url(/assets/img/icons/android-circle-black.png);
}
.android-icon:hover {
  background-image: url(/assets/img/icons/android-circle-standard.png);
}
.email-icon {
  background-image: url(/assets/img/icons/email-circle-black.png);
}
.email-icon:hover {
  background-image: url(/assets/img/icons/email-circle-standard.png);
}
.press-icon {
  background-image: url(/assets/img/icons/newspaper-circle-black.png);
}
.press-icon:hover {
  background-image: url(/assets/img/icons/newspaper-circle-standard.png);
}
