.call-for-action {
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  color: black;
  text-decoration: none;
}

.call-for-action:hover {
  background-color: rgba(139, 195, 74, 0.37);
}

section#stores {
  background-color: #f19f4d;
}


footer {
  background-color: #f9cf00;
}

.slogan {
  font-size: 2.0em;
}

footer > hr {
  border-color: black;
  border-style: solid;
  width: 95%;
}

.icons {
 padding-left: 2.5%;
 padding-right: 2.5%;
}

.icon {
  background-repeat: no-repeat;
  font-size: 0;
  width: 24px;
  height: 24px;
  margin: 0.5%;
}

.facebook-icon {
  background-image: url(/assets/img/icons/facebook-circle-black.png);
}
.facebook-icon:hover {
  background-image: url(/assets/img/icons/facebook-circle-standard.png);
}
.youtube-icon {
  background-image: url(/assets/img/icons/youtube-circle-black.png);
}
.youtube-icon:hover {
  background-image: url(/assets/img/icons/youtube-circle-standard.png);
}
.android-icon {
  background-image: url(/assets/img/icons/android-circle-black.png);
}
.android-icon:hover {
  background-image: url(/assets/img/icons/android-circle-standard.png);
}
.email-icon {
  background-image: url(/assets/img/icons/email-circle-black.png);
}
.email-icon:hover {
  background-image: url(/assets/img/icons/email-circle-standard.png);
}
.press-icon {
  background-image: url(/assets/img/icons/newspaper-circle-black.png);
}
.press-icon:hover {
  background-image: url(/assets/img/icons/newspaper-circle-standard.png);
}
